
/* Center and scale the image nicely */
.jumbotron {
	background-image: url("barbell.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	padding: 80px;
	position: relative;
	text-align: center;
	font-family: 'Notable', sans-serif;
	height: 100%;
	color: white;
}
/* seperate the icons and make them white*/
.fab {
	color: white;
	padding: 20px;
}
/* Make the map the full width of the screen */
#map {
	max-width: 100%;
	height: 700px;
	padding-top: 20px;
}